# Node packages
node_modules/

# Client-side packages
bower_components/

# Distribution files
dist/

# OS X garbage
.DS_STORE

# IntelliJ project files
mindmeld-js-sdk.iml
.idea/

# Config file for git-sync
sftp-config.json

# Development sandbox
sandbox/

# Search Widget
.sass-cache/
searchWidget/.sass-cache
searchWidget/css/*.map

