@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

$narrow-device: "only screen and (max-device-width : 600px)";
$narrow-window: "only screen and (max-width : 600px)";

$light-grey: #888;
$grey: #636363;
$dark-grey: #333;

// search variables
$search-height: 70px;
$search-border-width: 2px;
$search-inner-height: $search-height - 4*$search-border-width;
$search-border-radius: $search-height / 2;
$icon-size: 32px;

.mindmeld-search {
  &, & * {
    box-sizing: border-box;
  }


  height: $search-height;
  width: 100%;

  @media #{$narrow-device} {
    margin: auto;
  }

  $spacing-unit: 238px;

  @for $i from 1 through 8 {
    $el-width: $spacing-unit * $i + 20px;
    // ((card width + 20 padding) * i) + outer padding + border
    $el-media: "all and (min-width: " + $el-width + ")";
    @media #{$el-media} {
      width: $el-width;
    }
  }

  margin: 10px auto;
  position: relative;

  .mindmeld-search-input {
    width: calc(100% - 55px);
    background-color: white;
    height: $search-height;
    z-index: 2;
    position: relative;
    border-radius: $search-border-radius;
    border: $search-border-width solid $grey;

    div.mindmeld-search-text {
      position: relative;
      top: $search-border-width;
      $search-text-left: 30px;
      left: $search-text-left;

      width: calc(100% - #{$search-text-left} - #{$search-height});
      height: $search-inner-height;
      min-height: 0;
      border: none;
      padding: 0;

      color: $dark-grey;
      font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: $search-inner-height;

      resize: none;
      box-shadow: none;

      overflow: hidden;

      &.interim {
        color: $light-grey;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        outline: none;
        padding-left: 2px; //This ensures the cursor will appear, even when the span is empty.
      }
    }

  }

  .mindmeld-search-glass {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: $search-height;
    border-top-right-radius: $search-border-radius;
    border-bottom-right-radius: $search-border-radius;
    z-index: 1;

    background-color: $grey;
    @include transition(background-color 0.5s ease-in-out);

    &:hover {
      cursor: pointer;
      background-color: $dark-grey;
    }

    img.magnifying-glass {
      position: absolute;
      top: ($search-height - $icon-size)/2;
      right: ($search-height - $icon-size)/2;;

      width: $icon-size;
      height: $icon-size;

      transform: scale(-1, 1);
    }
  }

}
