@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

$narrow-device: "only screen and (max-device-width : 600px)";
$narrow-window: "only screen and (max-width : 600px)";
$narrow-device-or-window: $narrow-device + ", " + $narrow-window;

$light-grey: #888;
$grey: #636363;
$dark-grey: #333;

// search variables
$search-height: 70px;
$search-border-width: 2px;
$search-inner-height: $search-height - 4*$search-border-width;
$search-border-radius: $search-height / 2;
$icon-size: 32px;

/*
  This CSS sets the size of the searchInput based on the viewport.  If you
  want to change the width, the easiest way is to set the size of
  the .mindmeld-search element.  For example:

  .mindmeld-search {
    position: absolute;
    top: 10px;
    right: 10px;
    left: 10px;
    width: auto;
  }

  If you are having trouble with the precedence of CSS rules, remember that
  more specific rules take precedence, so you can add an id to your
  div.mindmeld-search, and add the CSS rules by id.
*/

.mindmeld-search {
  &, & * {
    box-sizing: border-box;
  }


  height: $search-height;
  width: 100%;

  @media #{$narrow-device} {
    margin: auto;
  }

  $spacing-unit: 238px;

  @for $i from 1 through 8 {
    $el-width: $spacing-unit * $i + 20px;
    // ((card width + 20 padding) * i) + outer padding + border
    $el-media: "all and (min-width: " + $el-width + ")";
    @media #{$el-media} {
      width: $el-width;
    }
  }

  margin: 20px auto;
  position: relative;

  .mindmeld-search-input {
    width: calc(100% - 55px);
    background-color: white;
    height: $search-height;
    z-index: 2;
    position: relative;
    border-radius: $search-border-radius;
    border: $search-border-width solid $grey;
    $search-text-left: 30px;

    .mindmeld-search-text {
      display: block;
      position: relative;
      top: $search-border-width;
      left: $search-text-left;

      width: calc(100% - #{$search-text-left} - #{$search-height});
      height: $search-inner-height;
      min-height: 0;
      border: none;
      padding: 0;

      color: $dark-grey;
      font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: $search-inner-height;

      resize: none;
      box-shadow: none;

      overflow: hidden;

      &.interim {
        color: $light-grey;
      }

      span {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        outline: none;
        padding-left: 2px; //This ensures the cursor will appear, even when the span is empty.
      }

      &.editing span {
        background-color: #eee;
      }
    }

    .mindmeld-message {
      display: none;
      position: relative;
      top: $search-border-width;
      left: $search-text-left;

      width: calc(100% - #{$search-text-left} - #{$search-height});
      height: $search-inner-height;
      min-height: 0;
      border: none;
      padding: 0;

      color: $dark-grey;
      font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 18px;
      font-weight: 300;
      line-height: $search-inner-height;

      resize: none;
      box-shadow: none;

      overflow: hidden;
    }

    &.prompt {
      .mindmeld-search-text {
        display: none;
      }

      .mindmeld-message {
        display: block;
        color: #bbb;
      }
    }

    &.error {
      .mindmeld-search-text {
        display: none;
      }

      .mindmeld-message {
        display: block;
        color: #a24a4a;
      }
    }
  }

  .mindmeld-search-glass {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: $search-height;
    border-top-right-radius: $search-border-radius;
    border-bottom-right-radius: $search-border-radius;
    z-index: 1;

    background-color: $grey;
    @include transition(background-color 0.5s ease-in-out);

    &:hover {
      cursor: pointer;
      background-color: $dark-grey;
    }

    img.magnifying-glass {
      position: absolute;
      top: ($search-height - $icon-size)/2;
      right: ($search-height - $icon-size)/2;;

      width: $icon-size;
      height: $icon-size;

      transform: scale(-1, 1);
    }
  }

  .mindmeld-warning {
    display: none;
    text-align: center;
    color: #c91818;
    background-color: #eedada;
    border: 1px solid #fdbcbc;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 73%;
    margin: 0 auto 5px auto;
    zoom: 1;
    position: relative;
    bottom: -15px;

    @media #{$narrow-device-or-window} {
      margin: 0 auto 2px auto;
    }

    &:before, &:after {
      content: "";
      display: table;
    }

    &:after {
      clear: both;
    }

    p#warning-message {
      float: left;
      font-weight: 300;
      font-style: italic;
      margin: 0;
      width: 95%;
      padding-top: 3px;

      @media #{$narrow-device-or-window} {
        font-size: 10px;
      }

      a#supported-browser-link {
        text-emphasis: none;
        font-weight: 600;
        color: #d86b6b;
      }
    }

    div#close-warning {
      float: right;
      padding-right: 5px;

      a#close-warning-button {
        color: #c92727;

        &:after {
          content: '\D7';
        }

        &:hover {
          color: #8a1212;
          cursor: pointer;
        }
      }
    }
  }

  &.no-speech.warning {
    height: 115px;

    .mindmeld-warning {
      display: block;
    }
  }
}
