

$iconSize: 32px;
$microphoneSize: 60px;
$backgroundColor: #2fbbfb;
$disabledBackground: #aaa;
$iconColor: white;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @-ms-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}


@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@include keyframes(mic-listening-pulse) {
  0% {
    background-color: $backgroundColor;
  }
  50% {
    background-color: darken($backgroundColor, 20%);
  }
  100% {
    background-color: $backgroundColor;
  }
}

.mindmeld-microphone {

  .icon-container {
    border-radius: $microphoneSize;
    background-color: $backgroundColor;
    width: $microphoneSize;
    height: $microphoneSize;
    @include transition(background-color 0.5s ease-in-out, box-shadow 0.3s ease-out);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.3) inset;

    .icon {
      width: $iconSize;
      height: $iconSize;
      fill: $iconColor;
      display: block;
      margin: 0 auto;
      position: relative;
      @include transition(opacity 0.3s ease-out);
    }

    .mic-icon {
      opacity: 1;
      top: 25%;
    }

    .mute-icon {
      opacity: 0;
      top: -28%;
    }
    .lock-icon {
      opacity: 0;
      top: -85%;
    }

    &:hover {
      cursor: pointer;
      background-color: darken($backgroundColor, 10%);
    }
  }

  &.listening {
    .icon-container {
      box-shadow: 0 0 0 8px #333 inset;
      @include animation('mic-listening-pulse 1.5s infinite');

    }
  }

  &.listening.lock {
    .icon-container {
      .mic-icon {
        opacity: 0;
      }

      .lock-icon {
        opacity: 1;
      }
    }
  }

  &.disabled {
    .icon-container {
      background-color: $disabledBackground;

      .mic-icon {
        opacity: 0;
      }

      .mute-icon {
        opacity: 1;
      }

      &:hover {
        cursor: default;
      }
    }
  }

}

